.rainbow__body {
  overflow-y: hidden;
  background-color: #73d8ed;
  max-height: 110vh; }
  .rainbow__body .story__title {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; }

body {
  overflow-y: hidden; }

.rainbow__container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 40em; }

.story__wrapper {
  max-height: 40vh;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 105%;
  height: 100%;
  padding-right: 5%;
  margin-top: 35vh;
  background-color: #73d8ed;
  z-index: 10;
  padding: 1em; }
  .story__wrapper .story__body {
    margin-top: 0;
    font-size: 1.85em; }
  .story__wrapper .story__color {
    font-family: cursive;
    padding: 0 0.5em;
    font-size: 1.25em; }
  .story__wrapper .violet {
    background-color: #c19fe1;
    color: #fff; }
  .story__wrapper .purple {
    background-color: #421f62;
    color: #fff; }
  .story__wrapper .blue {
    background-color: #005184;
    color: #fff; }
  .story__wrapper .yellow {
    background-color: #FFE119; }
  .story__wrapper .orange {
    background-color: #f6861f;
    color: #fff; }
  .story__wrapper .red {
    background-color: #d11f2f;
    color: #fff; }
  .story__wrapper .infrared {
    background-color: #e96d78;
    color: #fff; }

.sun-svg {
  position: absolute;
  right: -150px;
  top: 205px; }

.cloud-svg {
  position: absolute;
  right: 0;
  top: 20%;
  z-index: 2; }

.cloud-svg-2 {
  position: absolute;
  top: 0;
  left: 20%; }

.cloud-svg-3 {
  position: absolute;
  top: 0;
  right: 25%; }

.cloud-svg-4 {
  position: absolute;
  left: 0;
  top: 20%; }

.rainbow-svg {
  display: flex;
  opacity: 0;
  align-self: center;
  position: absolute;
  top: -5%;
  z-index: 9;
  width: 200%;
  transition: visibility 3s ease-in;
  animation-name: rainbow;
  animation-play-state: paused;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-delay: 2s; }
  @media all and (min-width: 43em) {
    .rainbow-svg {
      top: 0;
      width: 150%; } }
  @media all and (min-width: 73.125em) {
    .rainbow-svg {
      height: auto;
      top: 5%;
      width: 110%; } }

.rainbow-animate {
  animation-play-state: running; }

@keyframes rainbow {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.drop {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0d343a), to(rgba(255, 255, 255, 0.6)));
  background: -moz-linear-gradient(top, #0d343a 0%, rgba(255, 255, 255, 0.6) 100%);
  width: 1px;
  height: 89px;
  position: absolute;
  bottom: 200px;
  -webkit-animation: fall .63s linear infinite;
  -moz-animation: fall .63s linear infinite;
  z-index: 99; }

/* animate the drops*/
@-webkit-keyframes fall {
  to {
    margin-top: 900px; } }
@-moz-keyframes fall {
  to {
    margin-top: 900px; } }

/*# sourceMappingURL=rainbow.css.map */
